/*===============================
  CRM Brand Colors
---------------------------------*/
$primary-color: #fb7000;
$secondary-color: #005592;

/* ==============================
   CHECKOUT SPECIFIC COLORS
---------------------------------*/

$white: #ffffff;
$black: #000000;

$black-06: rgba(0, 0, 0, 0.6);

$text-grey-primary: #202a36;
$text-grey-secondary: #414a54;
$text-grey-hint: #6e747c;
$grey-lighten5: #e9eaeb;
$grey-secondary: #363f4a;

$orange-darken1: #fb8526;
$orange-darken2: #fca259;
$orange-darken3: #fdbe8c;

$orange-lighten1: #fedbbf;
$orange-lighten2: #ffead9;
$orange-lighten3: #fef0e5;
$orange-lighten4: #fff8f2;
$orange-lighten5: #ffecc8;

$blue: #0e7ebf;
$blue-darken1: #266ea2;
$blue-darken2: #5990b8;
$blue-darken3: #8cb2ce;
$blue-darken4: #3291c8;
$blue-darken5: #4285f4;
$blue-darken6: #4c7cf3;
$blue-darken7: #641cff;
$blue-darken8: #0079d2;
$blue-darken9: #b6e2ff;
$blue-darken10: #0060aa;
$blue-darken11: #2e76f4;

$blue-lighten1: #bfd4e4;
$blue-lighten2: #d9e6ef;
$blue-lighten3: #e5eef4;
$blue-lighten4: #f2f6f9;
$blue-lighten5: #f7fafb;
$blue-lighten6: #f8f8f9;
$blue-lighten7: #e2eafd;
$blue-lighten8: #e6daff;
$blue-lighten9: #eff8ff;
$blue-lighten10: #def0ff;
$blue-lighten11: #f8fafc;
$blue-lighten12: #dfefff;

$grey-darken1: #9a9fa4;
$grey-darken2: #c7cacd;
$grey-darken3: #dedfe1;
$grey-darken4: #636a72;
$grey-darken5: #a6aaaf;

$grey-lighten1: #e8e9ea;
$grey-lighten2: #f4f4f5;
$grey-lighten3: #f4f5f9;
$grey-lighten4: #f5f7fa;

$red: #fa3e3e;
$red-darken1: #ea1414;
$red-darken2: #f34040;
$red-darken3: #bd1818;

$red-lighten1: #fb5b5b;
$red-lighten2: rgba(251, 62, 62, 0.102);
$red-lighten3: #fef9f9;
$red-lighten4: #feebeb;
$red-lighten5: rgba(251, 62, 62, 0.08);
$red-lighten6: #fff2f2;

$green: #00c851;
$green-darken1: #0abf95;

$green-lighten1: #26d06b;
$green-lighten2: #e9fbf0;
$green-lighten3: rgba(0, 200, 81, 0.08);
$green-lighten4: #eafdf1;
$green-lighten5: #dcfce8;

$yellow: #ffbb33;
$yellow-lighten1: rgb(255, 197, 81);
$yellow-lighten2: rgba(255, 226, 169, 0.5);

$border: #eaeff4;
$border-1: #d1dce6;

$light-brown: #5b6775;
$white-1: #f0f6ff;

$cancel-border: #bcbfc3;
$popper-border: #eaeff4;
$light-brown1: #d9d9d9;
$brown-dark1: #363f4a;

// mui new color code
$error-lighten1: #fef2f2;
$error-dark1: #e12121;
$success-green: #17a24f;
$success-border: #bcf6d2;
$success-green-lighten1: #f0fdf4;
$new-red-lighten1: #fff9eb;
$new-red-lighten2: #dd6102;
$disabled: #a8bed1;
$success-disabled: #a6aaaf;
$horizontal-line: #d1dce6;

$avatarColor: #def0ff;

$close-icon: #8f949a;

$shadow: #202a361a;

// user-colors
$user-purple: #9333ea;
$task-dashboard-border:#E8E8E8;
$task-color: #0F1218;
$bg-task: #F5F5F5;
