/* ==========================================================================
   Mixins
    - Border Radius Properties here
   ========================================================================== */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/* ==========================================================================
     Mixins
      - Box Shadow Properties here
     ========================================================================== */

@mixin box-shadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-ms-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

/* ==========================================================================
     Mixins
      - Transition Properties here
     ========================================================================== */

@mixin transition($sec) {
	-webkit-transition: all $sec;
	-moz-transition: all $sec;
	-ms-transition: all $sec;
	-o-transition: all $sec;
	transition: all $sec;
}

@mixin transition-ease($animation) {
	-webkit-transition: all $animation;
	-moz-transition: all $animation;
	-ms-transition: all $animation;
	-o-transition: all $animation;
	transition: all $animation;
}

/* ==========================================================================
     Mixins
      - Animation Delay Properties here
     ========================================================================== */

@mixin animateDelay($sec) {
	-webkit-animation-delay: $sec;
	-moz-animation-delay: $sec;
	-ms-animation-delay: $sec;
	-o-animation-delay: $sec;
	animation-delay: $sec;
}

/* ==========================================================================
     Mixins
      - Positioning Properties here
     ========================================================================== */

@mixin positionFull($position, $value) {
	position: $position;
	top: $value;
	bottom: $value;
	left: $value;
	right: $value;
}

@mixin positionTop($position, $top) {
	position: $position;
	top: $top;
}

@mixin positionBottom($position, $bottom) {
	position: $position;
	bottom: $bottom;
}

@mixin positionLeft($position, $left) {
	position: $position;
	left: $left;
}

@mixin positionTopLeft($position, $top, $left) {
	position: $position;
	top: $top;
	left: $left;
}

@mixin positionTopRight($position, $top, $right) {
	position: $position;
	top: $top;
	right: $right;
}

@mixin positionBottomLeft($position, $bottom, $left) {
	position: $position;
	bottom: $bottom;
	left: $left;
}

@mixin positionBottomRight($position, $bottom, $right) {
	position: $position;
	bottom: $bottom;
	right: $right;
}

/* ==========================================================================
     Mixins
      - Rotate Properties here
     ========================================================================== */

@mixin rotate($deg) {
	-ms-transform: rotate($deg);
	/* IE 9 */
	-webkit-transform: rotate($deg);
	/* Chrome, Safari, Opera */
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

/* ==========================================================================
     Mixins
      - Font Properties here
     ========================================================================== */

@mixin font($size, $lineHeight, $weight, $color) {
	font-size: $size;
	line-height: $lineHeight;
	font-weight: $weight;
	color: $color;
}

/* ==========================================================================
     Mixins
      - Images Sizing Properties here
     ========================================================================== */

@mixin size($size) {
	width: $size;
	height: $size;
}

@mixin sizing($width, $height) {
	width: $width;
	height: $height;
}

/* ==========================================================================
     Mixins
      - Height Properties here
     ========================================================================== */

@mixin minMaxHeight($height) {
	min-height: $height;
	max-height: $height;
}

/* ==========================================================================
     Mixins
      - Icon Properties here
     ========================================================================== */

@mixin icon($size, $color) {
	font-size: $size;
	color: $color;
}

/* ==========================================================================
     Mixins
      - Responsive Properties here
     ========================================================================== */

@mixin desktop {
	@media (min-width: 1281px) {
		@content;
	}
}

@mixin laptop {
	@media (min-width: 1025px) and (max-width: 1280px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin tabletlandscape {
	@media (min-width: 769px) and (max-width: 1023px) {
		@content;
	}
}

@mixin ipad {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin mobile {
	@media (min-width: 481px) and (max-width: 767px) {
		@content;
	}
}

@mixin samllmobile {
	@media (max-width: 480px) {
		@content;
	}
}
